.container {
	width: 70%;
}

.margin-zero-auto {
	margin: 0 auto;
}

.half-width {
	width: 50%;
}

			/*COLORS*/
.grey {
	color:	#777777;
}

			/*FONTS*/

p {
	font-family: 'Open Sans', sans-serif;	
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
}

			/*HEADER*/

header h1 {
	font-size: 4rem;
	text-align: center;
}

header p {
	padding: 15px;
	border-top: 5px double #777777;
	border-bottom: 5px double #777777;
	text-align: center;
}

.header-images img {
	display: inline-block;
}

			/*ARTICLES*/

section article {
	display: inline-block;
	vertical-align: top;
	width: 24.5%;
}

article a {
	color: #000;
	text-decoration: none;
}

.fa-angle-double-right {
	padding: 5px;
	font-size: 0.7em;
}

			/*FOOTER*/

footer {
	text-align: center;
}

footer strong {
	color: #000;
}

footer img {
	padding-right: 10px;
}