.container {
	width: 70%;
	margin: 0 auto;
}

p {
	font-family: 'Open Sans', sans-serif;	
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
}

h1 {
	width: 50%;
	margin: 0 auto;
	font-size: 4rem;
	text-align: center;
}

.header-images {
	width: 50%;
	margin: 0 auto;
}

.header-images img {
	display: inline-block;
}

header p {
	padding: 15px;
	border-top: 5px double #bbc0c7;
	border-bottom: 5px double #bbc0c7;
	text-align: center;
}

section article {
	display: inline-block;
	content: justify;
	width: 24.5%;
}

i {
	padding: 5px;
	color: #bbc0c7;
	font-size: 0.7em;
}

article a {
	color: #000;
	text-decoration: none;
}

footer {
	width: 90%;
	margin: 0 auto;
	color:  #bbc0c7;
	text-align: center;
}

footer strong {
	color: #000;
}

footer img {
	padding-right: 10px;
}